<html ng-app="game">
  <head>
    <!-- FireBase and Angular -->
    <script type="application/javascript" src="static/js/lib/angular.min.js"></script>
    <script type="application/javascript" src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script type="application/javascript" src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
    <!-- JQuery, Bootstrap, and styling libraries-->
    <script type="application/javascript" src="static/js/lib/jquery-1.11.2.min.js"></script>
    <script type="application/javascript" src="static/js/lib/bootstrap.min.js"></script>
    <script type="application/javascript" src="static/js/lib/jAlert-v3.min.js"></script>
    <script type="application/javascript" src="static/js/lib/jAlert-functions.min.js"></script>
    <script type="application/javascript" src="static/js/lib/jquery.tooltipster.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/lib/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/lib/jAlert-v3.css" />
    <link rel="stylesheet" type="text/css" href="static/css/lib/tooltipster.css" />
    <link rel="stylesheet" type="text/css" href="static/css/custom.css" />
    <!-- My Code -->
    <script type="application/javascript" src="static/js/app.js"></script>
    <script type="application/javascript" src="static/js/createUsers.js"></script>
    <script type="application/javascript" src="static/js/pickOrder.js"></script>
    <script type="application/javascript" src="static/js/market.js"></script>
    <script type="application/javascript" src="static/js/data.js"></script>

  </head>
  <create-users > </create-users>
  <pick-order > </pick-order>
  <market> </market>
  


</html>
